footer {
    height: 25.9375rem;
    width: 90rem;
    background-image: url(../assets/images/book-trace-background.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    display: flex;
    align-items: center;
    justify-content: space-around;

    & .left {
        display: flex;
        flex-direction: column;
        gap: 0.75rem;

        ul {
            border-top: solid 1px var(--shape-stroke);
            padding-top: 0.75rem;
            display: flex;
            justify-content: space-between;

            & li {
                position: relative;
                padding: 0.5rem;

                &::before {
                    position: absolute;
                    opacity: 0;

                    content: "";
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    border-radius: 50%;
                    padding: 0.5rem;
                    transition: opacity 500ms linear;
                    background-color: var(--shape-stroke);
                }

                &:hover::before {
                    opacity: 1;
                }
            }

            & a {
                position: relative;
                display: inline-block;
                width: 2rem;
                height: 2rem;

                background-size: contain;
                background-repeat: no-repeat;
                border-radius: 50%;
                transition: background-image 100ms linear;
                z-index: 1;
            }

            & .icon-instagram {
                background-image: url("/assets/icons/instagram.svg");
            }
            & li:hover .icon-instagram {
                background-image: url("/assets/icons/instagram-hover.svg");
            }

            & .icon-twitter {
                background-image: url("/assets/icons/twitter.svg");
            }
            & li:hover .icon-twitter {
                background-image: url("/assets/icons/twitter-hover.svg");
            }

            & .icon-discord {
                background-image: url("/assets/icons/discord.svg");
            }
            & li:hover .icon-discord {
                background-image: url("/assets/icons/discord-hover.svg");
            }

            & .icon-whatsapp {
                background-image: url("/assets/icons/whatsapp.svg");
            }
            & li:hover .icon-whatsapp {
                background-image: url("/assets/icons/whatsapp-hover.svg");
            }

            & .icon-facebook {
                background-image: url("/assets/icons/facebook.svg");
            }
            & li:hover .icon-facebook {
                background-image: url("/assets/icons/facebook-hover.svg");
            }
            
            & .icon-mail {
                background-image: url("/assets/icons/mail.svg");
            }
            & li:hover .icon-mail {
                background-image: url("/assets/icons/mail-hover.svg");
            }
        }
    }

    & .right {
        display: flex;
        gap: 3.5rem;
        padding-top: 0.5rem;

        & div {
            display: flex;
            flex-direction: column;
            gap: 1.25rem;

            & span {
                font: 700 1rem var(--ff);
            }

            ul {
                display: flex;
                flex-direction: column;
                gap: 0.75rem;
            }
        }
    }
}
