*,
*::after,
*::before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

    font-family: "Raleway", sans-serif;
    letter-spacing: 0;

    color: var(--text-body);
}

:root {
    --pink-light: #c59dd2;
    --pink-base: #9547a5;
    --pink-dark: #7d298a;
    --pink-low: #3f0f41;

    --blue-light: #73b6d2;
    --blue-base: #358bb9;
    --blue-mid: #2374a4;
    --blue-dark: #144a72;
    --blue-low: #08233c;

    --shape-stroke: #002347;
    --shape-hover: #001933;
    --shape-base: #000f1f;
    --shape-background: #00050a;

    --text-title: #f8fbfb;
    --text-body: #e2e7e9;
    --text-label: #bac6c9;

    --ff: "Raleway", sans-serif;

    --title-lg: 700 3rem var(--ff);
    --title-md: 700 2.5rem var(--ff);
    --title-sm: 700 2rem var(--ff);
    --title-xs: 700 1rem var(--ff);
    --subtitle: 500 2rem/200% var(--ff);

    --text-lg: 600 1.25rem var(--ff);
    --text-md: 600 1rem var(--ff);
    --text-sx: 700 1rem var(--ff);
    --text-sm: 600 0.875rem var(--ff);
    --text-xs: 600 0.75rem var(--ff);

    --text-button: 600 0.875rem var(--ff);
    --text-link: 500 0.875rem var(--ff);
    --text-tag: 700 0.625rem var(--ff);
}

body {
    background-color: var(--shape-background);
    display: flex;
    flex-direction: column;
    align-items: center;
}

button {
    all: unset;
    appearance: none;
    font: var(--text-button);
    color: var(--text-title);
    border-radius: 0.5rem;
    padding-block: 0.75rem;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;

    &.primary {
        background-color: var(--pink-dark);

        &:hover {
            background-color: var(--pink-base);
        }
    }

    &.secondary {
        background-color: var(--blue-dark);

        &:hover {
            background-color: var(--blue-base);
            cursor: pointer;
        }
    }

    &:hover {
        cursor: pointer;
    }
}

ul,
li {
    list-style: none;
}

a {
    color: var(--blue-light);
    text-decoration: none;
    font: var(--text-link);

    &:hover {
        color: var(--text-body);
    }
}

.hiden {
    display: none;
}

@media (width <= 90rem) {
    body {
        
    }
}
