.hero {
    width: 90rem;
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

    & .header {
        display: flex;
        flex-direction: column;
        gap: 10rem;
        width: 70rem;

        & img {
            height: 3.625rem;
        }

        & nav {
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding-top: 3.5rem;

            button.primary {
                padding: 0.75rem 1.25rem;
            }
        }
        & .content {
            text-align: center;
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 2rem;

            & h1 {
                max-width: 41rem;
                font: var(--title-lg);

                animation: fadeIn 3s ease;
            }
            & p {
                font: 500 1.25/140% var(--ff);
                text-align: center;
                width: 25rem;
                opacity: 0;

                animation: fadeIn 2s 1s linear forwards;
            }
        }
    }

    & img[src*="hero"] {
        inset: 0;
        position: absolute;
        width: 100%;
        object-fit: cover;
        z-index: -1;

        animation: fadeIn 3s ease-in;
    }

    & img[src*="Blur"] {
        top: 10%;
        position: absolute;
        width: 100%;
        object-fit: cover;
        z-index: -1;
    }

    & .description {
        position: relative;
        text-align: center;
        padding-top: 45rem;
        width: 75rem;
        height: 25rem;

        display: block;

        & img[src*="book"] {
            bottom: 0%;
            width: 5.5rem;
            position: absolute;
            rotate: 30deg;

            &:hover {
                rotate: 40deg;
                scale: 1.1;
                transition: rotate 800ms, scale 800ms;
            }
        }
        & img[src*="ouija"] {
            bottom: -30%;
            left: 0%;
            width: 5rem;
            height: 5rem;
            position: absolute;
            rotate: 100deg;
            scale: 1;

            &:hover {
                rotate: 110deg;
                scale: 1.1;
                transition: rotate 800ms, scale 800ms;
            }
        }
        & img[src*="ball"] {
            bottom: -30%;
            right: 0%;
            rotate: -15deg;
            width: 4.5rem;
            position: absolute;
            scale: 1;

            &:hover {
                rotate: -5deg;
                scale: 1.1;
                transition: rotate 800ms, scale 800ms;
            }
        }

        & img {
            opacity: 0;
            scale: 0;

            animation: fadeIn linear forwards, scaleUp linear forwards;

            animation-timeline: view();
            animation-range: entry 20% cover 100%;
        }

        & p {
            font: var(--subtitle);
            & span {
                color: var(--blue-light);
            }
        }
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes scaleUp {
    0% {
        scale: 0;
    }
    100% {
        scale: 1;
    }
}
