.hero {
    width: 90rem;
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

    & .header {
        display: flex;
        flex-direction: column;
        gap: 10rem;
        width: 70rem;

        & img {
            height: 3.625rem;
        }

        & nav {
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding-top: 3.5rem;

            button.primary {
                padding: 0.75rem 1.25rem;
            }
        }
        & .content {
            text-align: center;
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 2rem;

            & h1 {
                max-width: 41rem;
                font: var(--title-lg);

                animation: fadeIn 3s ease;
            }
            & p {
                font: 500 1.25/140% var(--ff);
                text-align: center;
                width: 25rem;
                opacity: 0;

                animation: fadeIn 2s 1s linear forwards;
            }
        }
    }

    & img[src*="hero"] {
        inset: 0;
        position: absolute;
        width: 100%;
        object-fit: cover;
        z-index: -1;

        animation: fadeIn 3s ease-in;
    }

    & img[src*="Blur"] {
        top: 10%;
        position: absolute;
        width: 100%;
        object-fit: cover;
        z-index: -1;
    }

    & .description {
        position: relative;
        text-align: center;
        padding-top: 45rem;
        width: 75rem;
        height: 25rem;

        display: block;

        & img[src*="book"] {
            bottom: 0%;
            width: 5.5rem;
            position: absolute;

            rotate: 30deg;

            &:hover {
                rotate: 45deg;
            }
        }
        & img[src*="ouija"] {
            bottom: -30%;
            left: 0%;
            width: 5rem;
            height: 5rem;
            position: absolute;

            rotate: 100deg;

            &:hover {
                rotate: 115deg;
            }
        }
        & img[src*="ball"] {
            bottom: -30%;
            right: 0%;
            width: 4.5rem;
            position: absolute;

            rotate: -15deg;

            &:hover {
                rotate: 0deg;
            }
        }

        & img {
            animation: appear linear forwards;
            animation-timeline: view();
            animation-range: entry 200px cover 400px;
            opacity: 0;

            transition: scale 1s ease, rotate 1s ease;

            &:hover {
                scale: 1.1;
            }
        }

        & p {
            font: var(--subtitle);
            opacity: 0;
            transition: opacity 1s linear, color 1s linear;

            animation: shine linear forwards;
            animation-timeline: view();
            animation-range: entry 200px cover 400px;

            & span:nth-child(1) {
                animation: shine linear forwards;
                animation-timeline: view();
                animation-range: entry 500px contain 400px;

                & strong {
                    animation: shine-blue linear forwards;
                    animation-timeline: view();
                    animation-range: entry 500px contain 400px;
                }
            }
            & span:nth-child(2) {
                animation: shine linear forwards;
                animation-timeline: view();
                animation-range: entry 300px contain 400px;

                & strong {
                    animation: shine-blue linear forwards;
                    animation-timeline: view();
                    animation-range: entry 300px contain 400px;
                }
            }
            & span:nth-child(3) {
                animation: shine linear forwards;
                animation-timeline: view();
                animation-range: entry 100px contain 400px;

                & strong {
                    animation: shine-blue linear forwards;
                    animation-timeline: view();
                    animation-range: entry 100px contain 400px;
                }
            }
        }
    }
}
@keyframes shine-blue {
    0% {
        color: inherit;
        opacity: 0;
    }
    100% {
        color: var(--blue-light);
        opacity: 1;
    }
}
@keyframes shine {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
@keyframes appear {
    0% {
        opacity: 0;
        transform: scale(0);
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
