.hero {
    width: 90rem;
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

    & .header {
        display: flex;
        flex-direction: column;
        gap: 10rem;
        width: 70rem;

        & .logo {
            display: inline-block;
            height: 3.625rem;
            width: 14.375rem;
            background-image: url(../assets/icons/logo-horizontal.svg);
        }

        & nav {
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding-top: 3.5rem;

            button.primary {
                padding: 0.75rem 1.25rem;
                width: fit-content;
            }
        }
        & .content {
            text-align: center;
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 2rem;

            & h1 {
                max-width: 41rem;
                font: var(--title-lg);

                animation: fadeIn 3s ease;
            }
            & p {
                font: 400 1.25/140% var(--ff);
                text-align: center;
                width: 25rem;
                opacity: 0;

                animation: fadeIn 2s 1s linear forwards;
            }
        }
    }

    & img[src*="hero"] {
        inset: 0;
        position: absolute;
        width: 100%;
        object-fit: cover;
        z-index: -1;

        animation: fadeIn 3s ease-in;
    }

    & img[src*="Blur"] {
        top: 10%;
        position: absolute;
        width: 100%;
        object-fit: cover;
        z-index: -1;
    }

    & .description {
        position: relative;
        text-align: center;
        padding-top: 45rem;
        width: 75rem;
        height: 25rem;

        display: block;

        & img[src*="book"] {
            bottom: 0%;
            width: 5.5rem;
            position: absolute;

            animation: appear ease-out both;
            animation-timeline: view();
            animation-range: 300px 400px;
            opacity: 0;

            rotate: 30deg;

            &:hover {
                rotate: 45deg;
            }
        }
        & img[src*="ouija"] {
            bottom: -30%;
            left: 0%;
            width: 5rem;
            height: 5rem;
            position: absolute;

            animation: appear ease-out both;
            animation-timeline: view();
            animation-range: 150px 300px;
            opacity: 0;

            rotate: 100deg;

            &:hover {
                rotate: 115deg;
            }
        }
        & img[src*="ball"] {
            bottom: -30%;
            right: 0%;
            width: 4.5rem;
            position: absolute;

            animation: appear ease-out both;
            animation-timeline: view();
            animation-range: 250px 450px;
            opacity: 0;

            rotate: -15deg;

            &:hover {
                rotate: 0deg;
            }
        }

        & img {
            transition: scale 1s ease, rotate 1s ease;

            &:hover {
                scale: 1.1;
            }
        }

        & p {
            font: var(--subtitle);
            transition: opacity linear, color linear;

            & span:nth-child(1) {
                opacity: 0.1;
                animation: shine ease-out both;
                animation-timeline: view();
                animation-range: 250px 310px;

                & strong {
                    animation: shine-blue ease-out both;
                    animation-timeline: view();
                    animation-range: 250px 310px;
                }
            }
            & span:nth-child(2) {
                opacity: 0.1;
                animation: shine ease-out both;
                animation-timeline: view();
                animation-range: 350px 500px;

                & strong {
                    animation: shine-blue ease-out both;
                    animation-timeline: view();
                    animation-range: 350px 500px;
                }
            }
            & span:nth-child(3) {
                opacity: 0.1;
                animation: shine ease-out both;
                animation-timeline: view();
                animation-range: 450px 550px;

                & strong {
                    animation: shine-blue ease-out both;
                    animation-timeline: view();
                    animation-range: 450px 550px;
                }
            }
        }
    }
}
@media (width <= 90rem) {
    .hero {
        width: 23.4375rem;
        overflow: hidden;
        & .header {
            display: flex;
            flex-direction: column;
            gap: 3rem;
            width: 100%;

            & .logo {
                height: 3rem;
                width: 4.034375rem;
                background-position: center;
                background-size: contain;
                background-repeat: no-repeat;
                background-image: url(../assets/icons/logo-symbol.svg);
            }

            & nav {
                padding: 1.25rem 1.25rem 0;
            }
            & .content {
                gap: 1rem;

                & h1 {
                    max-width: 20.9375rem;
                    font: 700 1.75rem var(--ff);
                }
                & p {
                    font: 400 0.875rem/140% var(--ff);
                    max-width: 20.9375rem;
                }
            }
        }

        & img[src*="hero"] {
            width: auto;
            height: 29rem;
            left: -45%;
            top: 0;
        }
    }
}
@keyframes shine-blue {
    0% {
        opacity: 0.8;
        color: var(--text-title);
    }
    100% {
        color: var(--blue-light);
        opacity: 1;
    }
}
@keyframes shine {
    0% {
        opacity: 0.1;
    }
    100% {
        opacity: 1;
    }
}
@keyframes appear {
    0% {
        opacity: 0;
        transform: scale(0);
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }
}
@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
