section.price {
    height: 77.125rem;
    position: relative;
    width: 90rem;
    display: flex;
    gap: 3.5rem;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    & h2 {
        font: var(--title-sm);
        text-align: center;
        width: 18.375rem;
    }

    & img[src*="pricing"] {
        z-index: -2;
        inset: 0;
        position: absolute;
        object-fit: cover;
        width: auto;
        height: 100%;
    }

    & img[src*="blur"] {
        z-index: -1;
        position: absolute;
        top: 10%;
        object-fit: contain;
        width: auto;
        height: 100%;
        display: block;
    }

    & .cards {
        width: 65.625rem;
        height: 37.875rem;

        & .motion-cards {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            height: 100%;
            position: relative;

            & .card {
                position: absolute;
                height: 26rem;
                width: 18rem;
                padding: 2rem;
                border: solid 1px var(--shape-stroke);
                border-radius: 1.5rem;
                display: flex;
                align-items: center;

                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%) rotate(0deg);
                transition: bottom 500ms linear, left 500ms linear,
                    right 500ms linear, top 500ms linear, transform 500ms linear;

                & .card-content {
                    height: 100%;
                    position: relative;
                    display: flex;
                    justify-content: space-between;
                    flex-direction: column;

                    & div:nth-child(3) {
                        display: flex;
                        flex-direction: column;
                        gap: 1.5rem;

                        & span.highlight {
                            position: absolute;
                            right: 0;
                            top: -1%;
                            border-radius: 999px;
                            padding: 0.5rem 1.25rem;
                            background-color: var(--shape-stroke);
                            font: 700 0.625rem var(--ff);
                        }
                        & h3 {
                            font: var(--text-sx);
                        }
                        & p {
                            display: flex;
                            flex-direction: column;
                            gap: 0.5rem;

                            & strong {
                                font: var(--title-md);
                                & span {
                                    font: 700 1rem var(--ff);
                                }
                            }

                            & small {
                                font: 400 0.875rem var(--ff);
                                color: var(--text-label);
                            }
                        }
                    }
                    & div:nth-child(4) {
                        display: flex;
                        flex-direction: column;
                        gap: 1.5rem;

                        & ul {
                            display: flex;
                            flex-direction: column;
                            gap: 0.75rem;

                            & li {
                                width: 14rem;
                                display: flex;
                                gap: 0.5rem;
                                align-items: center;
                                font: 400 0.75rem/140% var(--ff);
                                color: var(--text-body);

                                & img {
                                    width: 0.875rem;
                                    height: 0.875rem;
                                }
                            }
                        }
                    }

                    & img[src*="Bunny"] {
                        top: -24%;
                        position: absolute;
                    }
                    & .stars-1 {
                        position: absolute;
                        top: -5%;
                        left: -28%;
                        width: 0.875rem;
                        height: auto;
                    }
                    & .stars-2 {
                        position: absolute;
                        top: -15%;
                        left: -28%;
                        width: 1.625rem;
                        height: auto;
                    }
                    & .stars-3 {
                        position: absolute;
                        bottom: -18%;
                        right: -15%;
                        width: 0.875rem;
                        height: auto;
                    }
                    & .stars-4 {
                        position: absolute;
                        bottom: -15%;
                        right: -38%;
                        width: 1.625rem;
                        height: auto;
                    }
                }
            }

            & .card:nth-child(1) {
                background-color: var(--shape-base);
                z-index: -1;

                & h3 {
                    color: var(--blue-light);
                }
            }
            & .card:nth-child(2) {
                & h3 {
                    color: var(--pink-light);
                }
                background-color: var(--shape-hover);
            }
            & .card:nth-child(3) {
                background-color: var(--shape-base);
                z-index: -1;

                & h3 {
                    color: var(--blue-light);
                }
            }

            &:hover {
                & .card:nth-child(1) {
                    left: 9%;
                    top: 24%;
                    transform: rotate(-8deg);
                }

                & .card:nth-child(3) {
                    left: 64%;
                    top: 24%;
                    transform: rotate(8deg);
                }
            }
        }
    }
}
@media (width <= 90rem) {
    section.price {
        overflow: hidden;
        height: 44.5rem;
        width: 23.4375rem;
        gap: 3rem;

        & h2 {
            font: 700 1.5rem var(--ff);
            width: 13.8125rem;
        }

        & img[src*="pricing"] {
            display: none;
        }

        & img[src*="blur"] {
            display: none;
        }

        & .cards {
            width: 23.4375rem;
            height: 25rem;

            & .motion-cards {
                justify-content: center;
                gap: 1rem;

                & .card {
                    position: static;
                    height: 25rem;
                    width: 17rem;
                    padding: 2rem 2rem 1.75rem;

                    top: auto;
                    left: auto;
                    right: auto;
                    bottom: auto;

                    transform: none;
                    transition: none;

                    & .card-content {
                        & div:nth-child(3) {
                            width: 13rem;
                            & p {
                                & strong {
                                    font: var(--title-md);
                                    & span {
                                        font: 700 1rem var(--ff);
                                    }
                                }
                            }
                        }
                        & div:nth-child(4) {
                            display: flex;
                            flex-direction: column;
                            gap: 1.5rem;

                            & ul {
                                & li {
                                    display: flex;
                                    gap: 0.5rem;
                                    font: 400 0.75rem/140% var(--ff);
                                }
                            }
                        }

                        & .stars-1,
                        & .stars-2,
                        & .stars-3,
                        & .stars-4,
                        img[src*="Bunny"] {
                            display: none;
                        }

                        & .price-right {
                            display: none;
                        }
                    }
                }

                & .card:nth-child(1) {
                    background-color: var(--shape-base);
                    z-index: -1;

                    & h3 {
                        color: var(--blue-light);
                    }
                }
                & .card:nth-child(2) {
                    & h3 {
                        color: var(--pink-light);
                    }
                    background-color: var(--shape-hover);
                }
                & .card:nth-child(3) {
                    background-color: var(--shape-base);
                    z-index: -1;

                    & h3 {
                        color: var(--blue-light);
                    }
                }

                &:hover {
                    .card:nth-child(1),
                    .card:nth-child(3) {
                        left: auto;
                        top: auto;
                        transform: none;
                    }
                }
            }
        }
    }
}
@keyframes apeear {
    0% {
    }
    100% {
    }
}
